body {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.btn {
  display: flex;
  background-color: #f6f6f6e8;
  padding: 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

#clear {
  grid-column: span 2;
}
#del {
  grid-column: span 2;
}

.calculator-wrapper {
  width: 450px;
}
.display {
  max-width: 100%;
  padding: 10px 20px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f6f6f6e8;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.previous-operand {
  font-size: 20px;
}
